/*COMMON PROPERTY FOR ALL PAGES*/
body{

    font-family: calibri, sans-serif;
    font-size: 18px;


}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.img-fluid{
max-width: 100%;

}

section{

    width: 100%;
    float: left;
}

.container {
    width: 90%;
   margin:auto;
    


}

/*--------------HEADER PART CSS------------*/


.header-part{
  padding-top: 5px;
  padding-bottom: 5px;


}

.logo{
    float: left;
    width: 50%;
}
.contact-info{

    float:left;
    width: 50%;
    text-align: right;
    margin-top: 14px;
}
.header-part{
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    
    
}

.logo img{
    width: 234px;
}
.contact-info ul li{ 
    display: inline-block;
    margin-left: 25px ;
    font-size: 20px;

}
.contact-info img{
    width: 22px;
    margin-right: 5px;
 }


 /*--------BANNER PART CSS---------*/
 .banner{

    background-image: url(../images/bg.jpg);
   padding-top: 50px;
   background-repeat: no-repeat;
   padding-bottom: 50px;
 }
 .banner-part1{
     float: left;width: 60%;
 }
 .banner-part2{
     float: left;
     width: 40%;
 }
 .banner-part1 h1{

    font-size: 36px;
    margin-bottom: 20px;

  }
  .banner-part1 p{
      font-size: 20px;
      margin-bottom: 20px;
  }

  .banner-part1 h3{
      font-size: 30px;
      margin-bottom: 20px;
  }
  .banner-part1 ul li{
      font-size: 20px;
      margin-bottom: 8px;
  }
  .form{
      background-color: rgba(0, 0, 0,0.6);
      padding: 20px;
      border-radius: 5px;
  }
  /*.mr-0{
      margin-right:0px !important ;  
  }*/
  
  .banner-part1 ul{

    margin-left: 40px;
    margin-bottom: 20px;
  }
  
  .btn-style{
      background-color: #f5233e;
      border: 1px solid #f5233e;
      color: white;
      padding: 10px 30px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 5px;
  }
  .form h3{
      color: white;
      font-size: 30px;
  }
  .form-control {
      width: 100%;
      padding: 15px;
      font-size: 18px;
      border-radius: 5px;
      border: 1px solid #ddd;
      margin-bottom: 20px;
  }
  .form label {
      color: white;
      font-size: 18px;
  }

/*------------------COURSE-INFORMAION------------------------*/
  

.course-info1{
    width: 23.5%;
    float: left;
    box-sizing: 0 0 15px 1px rgb(0 0 0 / 15%);
    padding: 12px 25px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    margin-right: 2%;
    
  }
  .icon{
      float: left;
      width: 30%;
  }
  .icon img{
      width: 50px;
  }

  
  .content{
      width: 85%;
      float: left;
      text-align: center;
  }


  .content p{
    font-size: 18px;
    
}
.content h5{
    font-size: 18px;
}

  /*----------WEB DESIGN SECTION-----------*/

  .web-design{
      padding: 50px 0px;
  }
  .web-design1{
      width: 100%;
      float:left;
      text-align: center;
  }
  .web-design1 h2{
      margin-bottom: 20px;
      text-align: center;
  }
  .web-design1 p{
      padding-left: 100px;
      padding-right: 100px;
      font-size: 18px;
  }

  .web-design-box{
      float: left;
      width: 23%;
      box-shadow: 1px 2px 6px rgb(0 0 0 / 25%);
      background-color: #f5f5f5;
      padding: 25px;
      border-radius: 7px;
      border-top: 3px solid orange;
      margin-top: 50px;
      margin-right: 2%;
      height: 246px;
      margin-bottom: 50px;
  }
  .border-green{
      border-color: green;
  }
  .border-red{
    border-color: red;
}
.border-skyblue{
    border-color: skyblue;
}
.navy-border {
    border-color: #2378f3;
}
.orange1-border {
    border-color: #fe711d;
}
.grenblue{
    border-color: #1cb4c2;
}
.yellow-border1 {
    border-color: #fea202;
}
.web-design3 p{
    margin-left: 50px;
    margin-right: 100px;
    font-size: 20px;
    padding-top: 20px;
    /* margin-top: 50px; */
}
.web-design3 {
    /* margin-top: 50px; */
    padding-top: 20px;
}
  .web-design-box img{
      width: 75px;
      margin-bottom:10px ;
  }

  .web-design-box h4{
      font-size: 24px;
      margin-bottom: 15px;
  }

  .web-design2{
      width: 100%;
      float: left;
      text-align: center;
  }
  
  /*DOWNLOAD COURSE SYLLABUS SECTION*/

  .download1{
      background-image: url(../images/call-to-action-bg.jpg);
      background-position: right bottom;
      background-size: cover;
      color: white;
      margin-top: 70px;
  }
  .dbtn{
    background: #fff;
    padding: 10px 30px;
    color: #10100f;
    border-radius: 5px;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 15px;
    
}
  
  /**.dbtn:hover {
    background-image: linear-gradient(rgb(233, 132, 0), rgb(224, 150, 64));
    color: white;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid rgb(233, 132, 0);
  }*/

  .download{
      padding: 70px;
      float: left;
      width: 70%;
  }
  .download h1{
      font-size: 34px;
      margin-bottom: 15px;
   }
  .download p{
    font-size: 26px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 15px;
    
  }

  .download h2,.download p{
    margin-bottom: 20px;
    
}
.download p1{
    font-size: 20px;
    font-weight: 500;
    
    
}

/*BENIFITS AND CERTIFICATE SECTION */


.benifits{
    width: 67%;
    float: left;
}
.benifits h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0px;
    
    
    
}
.benifits ul{
   
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      
        
    
}
.ben{
    padding-left: 0 ;
}

.ben li{
    background: 0 0;
    color: #222;
    /* line-height: 16px;  */
    padding: 0;
    margin-left: 5px;
    padding-top: 4px;
    color: #272525;
    width: 75%;
    font-size: 18px;
    list-style: outside disc!important;
    margin-bottom: 5px;
    /*margin-left: 30px; */

}
.benifit{
    padding: 70px 0px;
}

.benifit .container {
    width: 97%;
}

.certificate{
    width: 33%;
    float: left;
    padding-right: 30px;
}
.crt{
    box-shadow: 1px 2px 6px rgb(0 0 0 / 25%);
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
}




/*---PARTNER SECTION------*/

.partner-section{
    padding: 35px 0;
    background: #f5f5f5;
    width: 100%;
    float: left;
}

.partner-section::after {
    content: "";
    clear: both;
    display: table;
} 

.ps1 h2{
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

.ps1 p{
    margin-bottom: 50px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;

}

.partner-section img {
    width: 74%;
    margin: 0 6%;
    padding: 7%;
    background: #fff;
    
}





.wdbox{
    float: left;
    width: 16%;
    margin-left: 7px;
}


/*STUDENT SAY SECTION */

.student{
    padding: 50px 0px;
}
.student1{
    width: 100%;
    float:left;
    text-align: center;
}
.student1 h2{
    margin-bottom: 20px;
    text-align: center;
}
.student1 p{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    margin-bottom: 50px;
}

.student2{
    width: 25%;
    float: left;
    text-align: center;
}

.stdbox{
    float: left;
    width: 95%;
    box-shadow: 1px 2px 6px rgb(0 0 0 / 25%);
    border: 1px solid #ddd;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 5%;
    height: 250px;
    padding:  15% 5%;
    text-align: left;
    font-size: 16px;
}
.stdbox p{
    margin-top: 20px;
    font-size: 16px;
    
}

/*VISIT OUR OFFICE */

.office{
    padding: 35px 0;
    background: #f5f5f5;
    width: 100%;
    float: left;
}
.office1 h2{
    text-align: center;
    margin-bottom: 15px;
}
.office1 p{
    text-align: center;
    
}

.btnwrap

{
    display: flex;
    justify-content: center;
    padding: 10px;
}


/*FOOTER SECTION */
.footer-sec{
    background: #252525;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    width: 100%;
    float: left;
}

.fs1{
    width: 50%;
    float: left;
}
.fs1 p{ 
    text-align: left;
}

.fs2 p{ 
    text-align: right;
}
   

